<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>订单结算成功</title>
    <script type="text/javascript">
        function countDown(secs, surl) {
            //alert(surl);
            var jumpTo = document.getElementById('jumpTo');
            jumpTo.innerHTML = secs;
            if (--secs > 0) {
                setTimeout("countDown(" + secs + ",'" + surl + "')", 1000);
            }
            else {
                location.href = surl;
            }
        }
    </script>
</head>

<body>提交成功，<span id="jumpTo">5</span>秒后自动跳转到商城首页
<script type="text/javascript">countDown(5, '{% url 'shopping:commdity_list' %}');</script>
</body>
</html>

